<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5><span class="text-info mb-3 mt-3">Name: </span> {{user.login}} </h5>
            <span class="text-info">User Avatar: <img src="{{user.avatar_url}}" alt=""></span>
            <p class="lead mt-3 mb-3"><span class="text-info">Bio: </span> {{user.userName}} </p>
            <p class="lead mt-3 mb-3"><span class="text-info">Created at: </span> {{user.created_at | date}} </p>
            <p class="lead mt-3 mb-3"><span class="text-info">Public</span> {{user.public_repo}} </p> -->
        </div>
        <div class="col-md-6">
            <div *ngFor = "let repoDetail of repoDetail">
                <h5><span class="text-info">Repository name: </span> {{repoDetail.name}} </h5>
                <p class="lead mt-3 mb-3"><span class="text-success">Description: </span> {{repoDetail.description}} </p>
                <p class="lead mt-3 mb-3"><span class="text-success">Updated: </span> {{repoDetail.updated_at | date}} </p>
                <p class="lead mt-3 mb-3"><span class="text-success">language: </span> {{repoDetail.language}} </p>
            </div>
        </div>
    </div>
</div>
